.setting-item-row {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 6px;
}

.setting-item-row-ext-input {
  width: 80px;
}

.setting-item-row-app-input {
  flex-grow: 1;
}

.add-mapping-button {
  margin-top: 10px;
}

.ignored-ext-textarea {
  width: 100%;
  resize: vertical;
  min-height: 60px;
}
